Repository xDanilcusx/Lethalstation12, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Map, Sprites, Sound, Config Update, Database

Тупички
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: none

немного человечности для маппинга кусков генерации
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

эль проблемо де санити
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: none

Да блять какой год то у нас везде разные!!!
  maps/mapsystem/maps.dm
Labels: none

Фиксы генерации и прогресс по частям для карты
  maps/company_ship/machinery.dm
  maps/company_ship/turfs.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/entrance-1.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-2.dmm
  maps/random_ruins/complex_ruins/bunker/north/concrete_corner_right.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_corner_right.dmm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

теперь реально-реально рабочая генерация, но мало карт
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/entrance.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_corner_right.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_corner_right.dmm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

мастер немножечко ахуел от количества генерации
  maps/company_ship/exoplanets.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/entrance-2-marks.dmm
  maps/random_ruins/complex_ruins/bunker/entrance.dm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

ЭТА генерация - просто имба!
  code/modules/maps/map_template.dm
  maps/company_ship/machinery.dm
  maps/company_ship/turfs.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-1.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-2.dmm
  maps/random_ruins/complex_ruins/bunker/entrance.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/templates.dm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

Генерация лута
  maps/company_ship/_defines.dm
  maps/company_ship/turfs.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-1.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-2.dmm
  maps/random_ruins/complex_ruins/bunker/north/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

чазма и смешные прыжки
  code/controllers/configuration.dm
  code/game/objects/structures/lattice.dm
  maps/company_ship/_defines.dm
  maps/company_ship/company_ship_define.dm
  maps/company_ship/human.dm
  maps/company_ship/procs.dm
  maps/company_ship/turfs.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
Labels: none

жёлтые поручни и спрайт баллонов на спине
  icons/mob/onmob/onmob_back.dmi
  maps/company_ship/items.dm
  maps/company_ship/ship.dmm
Labels: Map, Sprites

П-образный пресет
  maps/random_ruins/complex_ruins/bunker/east/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/entrance.dm
  maps/random_ruins/complex_ruins/bunker/north/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/south/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/templates.dm
  maps/random_ruins/complex_ruins/bunker/west/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
Labels: Map

сломанное в пизду вращение карт
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/maps/dmm_suite.dm
  code/modules/maps/map_template.dm
  maps/company_ship/items.dm
  maps/company_ship/machinery.dm
  maps/company_ship/turfs.dm
  maps/random_ruins/complex_ruins/bunker/_bunker.dm
  maps/random_ruins/complex_ruins/bunker/east/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/east/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-2-marks.dmm
  maps/random_ruins/complex_ruins/bunker/entrance-2.dmm
  maps/random_ruins/complex_ruins/bunker/entrance.dm
  maps/random_ruins/complex_ruins/bunker/south/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/south/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/templates.dm
  maps/random_ruins/complex_ruins/bunker/templates/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/templates/f_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/west/concrete_hallway.dmm
  maps/random_ruins/complex_ruins/bunker/west/n_catwalk_hallway.dmm
  maps/random_ruins/complex_ruins/complex_ruins.dm
  maps/random_ruins/complex_ruins/landmarks.dmi
Labels: Map, Sprites

.github/labeler.yml:

Repo:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - '.vscode/**/*'
    - 'docs/**/*'
    - 'scripts/**/*'
    - 'test/**/*'
    - 'tools/**/*'
    - '.codebeatignore'
    - '.codebeatsettings'
    - '.editorconfig'
    - '.git*'
    - 'biome.json'
    - 'libmysql.dll'
    - 'LICENSE'
    - 'README.md'
    - 'SpacemanDMM.toml'

Map:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmm'

Sprites:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.dmi'

Sound:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.aif'
    - '**/*.aiff'
    - '**/*.it'
    - '**/*.mid'
    - '**/*.midi'
    - '**/*.mod'
    - '**/*.mp3'
    - '**/*.ogg'
    - '**/*.oxm'
    - '**/*.raw'
    - '**/*.s3m'
    - '**/*.wma'
    - '**/*.wav'
    - '**/*.xm'

Config Update:
- changed-files:
  - any-glob-to-any-file:
    - 'config/example/**/*'

Database:
- changed-files:
  - any-glob-to-any-file:
    - 'sql/**/*'
